src/main/resources/META-INF/schema/dinger.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright ©2015-2022 Jaemon. All Rights Reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!ELEMENT dinger (message* )+>
<!ATTLIST dinger
namespace CDATA #REQUIRED
>

<!ELEMENT message (body | configuration? )*>
<!-- attribute type prior to element type, since 2.0.2. -->
<!-- type LINK support only dingtalk -->
<!ATTLIST message
id ID #REQUIRED
type(TEXT | MARKDOWN | IMAGETEXT | LINK) #IMPLIED
>

<!ELEMENT body (type? | content | phones? )>

<!-- the value range is TEXT or MARKDOWN, deprecated since 2.0.2, link to element message's attribute type. -->
<!ELEMENT type (#PCDATA)>
<!-- Dinger Message Content -->
<!ELEMENT content (#PCDATA)>
<!-- attribute title just using in markdown dinger. -->
<!ATTLIST content
title CDATA #IMPLIED
>
<!ELEMENT phones (#PCDATA | phone)?>
<!-- attribute atAll = true just using in text diner -->
<!ATTLIST phones
atAll(true | false) #IMPLIED
>
<!ELEMENT phone EMPTY*>
<!ATTLIST phone
value CDATA #REQUIRED
>

<!ELEMENT configuration (token-id | async-execute )*>
<!-- attribute async prior to element async-execute, since 2.0.2. -->
<!ATTLIST configuration
async(true | false) #IMPLIED
>
<!ELEMENT token-id (#PCDATA)>
<!ATTLIST token-id
secret CDATA #IMPLIED
decrypt-key CDATA #IMPLIED
>

<!-- the value range is true or false, deprecated since 2.0.2, link to element configuration's attribute async. -->
<!ELEMENT async-execute (#PCDATA)>


<!ENTITY DINGER_AUTHOR "Jaemon">
<!ENTITY DINGER_COPYRIGHT "Copyright ©2015-2022 Jaemon. All Rights Reserved.">